/*validated*/
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252525;
  display: flex;
  justify-content: left;
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}


.nav li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1001;
}

.nav li a:hover {
  background-color: #1a1a1a;
}

.nav li a:active {
  background-color: #484848;
}

.nav li .logo {
  height: 40px; 
  width: auto;  
  vertical-align: middle;
  padding-right: 10px; 
}
.spacer {
  flex-grow: .45; 
}

html{
  background-color: #2e2e2e;
}

footer {
  text-align: center;
  bottom: 0; 
  padding-bottom: 10px;
}



@media screen and (max-width: 675px) {
  .nav li a {
    display: block;
    font-size: 1.38em; 
  }
}
