/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'sofia';
    src: url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('../alexbrush-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'sofia', "Times New Roman", serif;
}