/* Practice CustomFonts Style Sheet */

.websafe{
    font-family: 'Hurricane', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Sacramento', cursive;


}
.google {
    font-family: 'Sacramento', cursive;
}
