/* Practice CustomFonts Style Sheet */

.websafe{
    font-family: Arial, Courier, "Courier New";
}
.google {
    font-family: 'Dosis', Georgia, serif;
}

.google {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

