table {
  border: 9px solid #ffb703;
  background-color: #8ecae6;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-size: 20px;
}

caption {
  color: #FFFFFF;
  font-size: 30px;
}
thead {
	background-color: #219ebc;
}
/* unvisited link */
a:link {
  color: #219ebc;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #ffb703;
}

/* selected link */
a:active {
  color: #FFFFFF;
}

tr:nth-child(even) {
  background: #D0E4F5;
}

tfoot {
	text-align: center;
  color: #FFFFFF;
	background-color: #023047;
}
